.pet-preview {
  height: 200px;
  width: 200px;
  padding-top: 10%;
  background-color: #4caf502e;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 35%;
  }

  .info {
    padding: 5px;
    p {
      margin: 0;
      padding: 10px;
    }
  }
}
